<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
    <div class="box panel default-panel">
      <%= link_to image_tag(pin.image.url(:medium)), pin %>
      <div class="panel-body">
        <p><%= pin.descriptions %></p>
        <div class="bold"><%= pin.user ? pin.user.email : "Anonymous" %></div>

        <% if pin.user == current_user %>
          <div class="actions">
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>